<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.arpit.jasmine"
        version   = "1.0">

    <name>Jasmine</name>

    <description>
        Jasmine
    </description>

    <author href="#" email="speak2arpit@gmail.com">
        Arpit Kulshrestha
    </author>

    <preference name="permissions" value="none"/>

  <access origin="*" />
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
  </feature>

    <icon src="Jazmine_72.png" width="72" height="72" />
    <icon src="Jazmine_48.png" width="48" height="48" />
    <icon src="Jazmine_36.png" width="36" height="36" />
    <asset src="main.js" target="main.js" />
    <asset src="bootstrap.min.js" target="bootstrap.min.js" />
    <asset src="api.js" target="api.js" />
    <asset src="jquery-1.10.2.min.js" target="jquery-1.10.2.min.js" />
    <asset src="socket.io-1.0.3.js" target="socket.io-1.0.3.js" />
    <asset src="responsivevoice.js" target="responsivevoice.js" />

    <asset src="style.css" target="style.css" />
    <asset src="bootstrap.min.css" target="bootstrap.min.css" />
    <asset src="wikipedia.png" target="wikipedia.png" />
    <asset src="youtube.png" target="youtube.png" />
    <asset src="Jazmine.png" target="Jazmine.png" />
    <asset src="Jazmine_head.png" target="Jazmine_head.png" />
    <asset src="openweather.png" target="openweather.png" />
    <asset src="comingsoon.png" target="comingsoon.png" />

</widget>
